https://realpython.com/pandas-merge-join-and-concat/

In [1]:
from faker import Faker
import pandas as pd
import random

In [2]:
f = Faker()

df1 = pd.DataFrame({
    'id': ['st_' + str(i) for i in range(0, 20)],
    'name': [f.name() for _ in range(0,20)],
    'email' : [f.email() for _ in range(0,20)]
})

In [4]:
df1

       id               name                          email
0    st_0  Mrs. Taylor Moody             uspencer@gmail.com
1    st_1    Julie Blackburn         debbiemeyer@fields.net
2    st_2     Ricardo Parker    danielsalexander@foster.com
3    st_3       Vanessa Wong           voconnor@hotmail.com
4    st_4      Walter Harper          tararoach@hopkins.com
5    st_5     Rachel Johnson          jessica81@gardner.com
6    st_6        Henry Reyes             xfreeman@yahoo.com
7    st_7      Angela Murphy    christopherochoa@nguyen.com
8    st_8     Ronald Bradley           parker01@gregory.com
9    st_9       Thomas Smith  ericasaunders@chen-keller.biz
10  st_10   Travis Young DDS              xsantos@yahoo.com
11  st_11        Kirk Taylor          jrobinson@hotmail.com
12  st_12       Paige Wright       fernandezbrian@yahoo.com
13  st_13     Robert Griffin             summer70@yahoo.com
14  st_14       Miguel Perez      chambersshannon@mckee.net
15  st_15     Ricardo Bishop            neil75@reynolds.com
16  st_16   David Johnson MD         burnsmichael@yahoo.com
17  st_17  Patricia Robinson          amymarquez@bailey.com
18  st_18       David Gaines               vsmith@yahoo.com
19  st_19   Gregory Espinoza        qcole@davis-stevens.com

In [5]:
count = 25

df2 = pd.DataFrame({
    'studentId': ['st_' + str(i) for i in range(5, count)],
    'grade1': [random.randint(50, 100) for _ in range(5,count)],
    'grade2': [random.randint(50, 100) for _ in range(5,count)],
    'grade3': [random.randint(50, 100) for _ in range(5,count)],
})

In [7]:
df2

   studentId  grade1  grade2  grade3
0       st_5      59      68      54
1       st_6      86      94      87
2       st_7     100      69      85
3       st_8      94      58      73
4       st_9      99      59      57
5      st_10      58      83     100
6      st_11      70      70      96
7      st_12      88      63      87
8      st_13      92      84      58
9      st_14      78      90      90
10     st_15      51      76      53
11     st_16      93      73      76
12     st_17      89      84      99
13     st_18      74      74      51
14     st_19      80      68      82
15     st_20      83      83      65
16     st_21     100      50      74
17     st_22      91      53      64
18     st_23      98      51      60
19     st_24      64      62      94

In [9]:
# inner join
df_merged = pd.merge(df1, df2, left_on='id', right_on='studentId', how='inner')
df_merged

,id,name,email,studentId,grade1,grade2,grade3
0,st_5,Rachel Johnson,jessica81@gardner.com,st_5,59,68,54
1,st_6,Henry Reyes,xfreeman@yahoo.com,st_6,86,94,87
2,st_7,Angela Murphy,christopherochoa@nguyen.com,st_7,100,69,85
3,st_8,Ronald Bradley,parker01@gregory.com,st_8,94,58,73
4,st_9,Thomas Smith,ericasaunders@chen-keller.biz,st_9,99,59,57
5,st_10,Travis Young DDS,xsantos@yahoo.com,st_10,58,83,100
6,st_11,Kirk Taylor,jrobinson@hotmail.com,st_11,70,70,96
7,st_12,Paige Wright,fernandezbrian@yahoo.com,st_12,88,63,87
8,st_13,Robert Griffin,summer70@yahoo.com,st_13,92,84,58
9,st_14,Miguel Perez,chambersshannon@mckee.net,st_14,78,90,90
10,st_15,Ricardo Bishop,neil75@reynolds.com,st_15,51,76,53
11,st_16,David Johnson MD,burnsmichael@yahoo.com,st_16,93,73,76
12,st_17,Patricia Robinson,amymarquez@bailey.com,st_17,89,84,99
13,st_18,David Gaines,vsmith@yahoo.com,st_18,74,74,51
14,st_19,Gregory Espinoza,qcole@davis-stevens.com,st_19,80,68,82

In [10]:
# left join 
df_merged = pd.merge(df1, df2, left_on='id', right_on='studentId', how='left')
df_merged

,id,name,email,studentId,grade1,grade2,grade3
0,st_0,Mrs. Taylor Moody,uspencer@gmail.com,NaN,NaN,NaN,NaN
1,st_1,Julie Blackburn,debbiemeyer@fields.net,NaN,NaN,NaN,NaN
2,st_2,Ricardo Parker,danielsalexander@foster.com,NaN,NaN,NaN,NaN
3,st_3,Vanessa Wong,voconnor@hotmail.com,NaN,NaN,NaN,NaN
4,st_4,Walter Harper,tararoach@hopkins.com,NaN,NaN,NaN,NaN
5,st_5,Rachel Johnson,jessica81@gardner.com,st_5,59.0,68.0,54.0
6,st_6,Henry Reyes,xfreeman@yahoo.com,st_6,86.0,94.0,87.0
7,st_7,Angela Murphy,christopherochoa@nguyen.com,st_7,100.0,69.0,85.0
8,st_8,Ronald Bradley,parker01@gregory.com,st_8,94.0,58.0,73.0
9,st_9,Thomas Smith,ericasaunders@chen-keller.biz,st_9,99.0,59.0,57.0
10,st_10,Travis Young DDS,xsantos@yahoo.com,st_10,58.0,83.0,100.0
11,st_11,Kirk Taylor,jrobinson@hotmail.com,st_11,70.0,70.0,96.0
12,st_12,Paige Wright,fernandezbrian@yahoo.com,st_12,88.0,63.0,87.0
13,st_13,Robert Griffin,summer70@yahoo.com,st_13,92.0,84.0,58.0
14,st_14,Miguel Perez,chambersshannon@mckee.net,st_14,78.0,90.0,90.0
15,st_15,Ricardo Bishop,neil75@reynolds.com,st_15,51.0,76.0,53.0
16,st_16,David Johnson MD,burnsmichael@yahoo.com,st_16,93.0,73.0,76.0
17,st_17,Patricia Robinson,amymarquez@bailey.com,st_17,89.0,84.0,99.0
18,st_18,David Gaines,vsmith@yahoo.com,st_18,74.0,74.0,51.0
19,st_19,Gregory Espinoza,qcole@davis-stevens.com,st_19,80.0,68.0,82.0

In [11]:
# right join 
df_merged = pd.merge(df1, df2, left_on='id', right_on='studentId', how='right')
df_merged

,id,name,email,studentId,grade1,grade2,grade3
0,st_5,Rachel Johnson,jessica81@gardner.com,st_5,59,68,54
1,st_6,Henry Reyes,xfreeman@yahoo.com,st_6,86,94,87
2,st_7,Angela Murphy,christopherochoa@nguyen.com,st_7,100,69,85
3,st_8,Ronald Bradley,parker01@gregory.com,st_8,94,58,73
4,st_9,Thomas Smith,ericasaunders@chen-keller.biz,st_9,99,59,57
5,st_10,Travis Young DDS,xsantos@yahoo.com,st_10,58,83,100
6,st_11,Kirk Taylor,jrobinson@hotmail.com,st_11,70,70,96
7,st_12,Paige Wright,fernandezbrian@yahoo.com,st_12,88,63,87
8,st_13,Robert Griffin,summer70@yahoo.com,st_13,92,84,58
9,st_14,Miguel Perez,chambersshannon@mckee.net,st_14,78,90,90
10,st_15,Ricardo Bishop,neil75@reynolds.com,st_15,51,76,53
11,st_16,David Johnson MD,burnsmichael@yahoo.com,st_16,93,73,76
12,st_17,Patricia Robinson,amymarquez@bailey.com,st_17,89,84,99
13,st_18,David Gaines,vsmith@yahoo.com,st_18,74,74,51
14,st_19,Gregory Espinoza,qcole@davis-stevens.com,st_19,80,68,82
15,NaN,NaN,NaN,st_20,83,83,65
16,NaN,NaN,NaN,st_21,100,50,74
17,NaN,NaN,NaN,st_22,91,53,64
18,NaN,NaN,NaN,st_23,98,51,60
19,NaN,NaN,NaN,st_24,64,62,94

In [12]:
# outer join 
df_merged = pd.merge(df1, df2, left_on='id', right_on='studentId', how='outer')
df_merged

,id,name,email,studentId,grade1,grade2,grade3
0,st_0,Mrs. Taylor Moody,uspencer@gmail.com,NaN,NaN,NaN,NaN
1,st_1,Julie Blackburn,debbiemeyer@fields.net,NaN,NaN,NaN,NaN
2,st_2,Ricardo Parker,danielsalexander@foster.com,NaN,NaN,NaN,NaN
3,st_3,Vanessa Wong,voconnor@hotmail.com,NaN,NaN,NaN,NaN
4,st_4,Walter Harper,tararoach@hopkins.com,NaN,NaN,NaN,NaN
5,st_5,Rachel Johnson,jessica81@gardner.com,st_5,59.0,68.0,54.0
6,st_6,Henry Reyes,xfreeman@yahoo.com,st_6,86.0,94.0,87.0
7,st_7,Angela Murphy,christopherochoa@nguyen.com,st_7,100.0,69.0,85.0
8,st_8,Ronald Bradley,parker01@gregory.com,st_8,94.0,58.0,73.0
9,st_9,Thomas Smith,ericasaunders@chen-keller.biz,st_9,99.0,59.0,57.0
10,st_10,Travis Young DDS,xsantos@yahoo.com,st_10,58.0,83.0,100.0
11,st_11,Kirk Taylor,jrobinson@hotmail.com,st_11,70.0,70.0,96.0
12,st_12,Paige Wright,fernandezbrian@yahoo.com,st_12,88.0,63.0,87.0
13,st_13,Robert Griffin,summer70@yahoo.com,st_13,92.0,84.0,58.0
14,st_14,Miguel Perez,chambersshannon@mckee.net,st_14,78.0,90.0,90.0
15,st_15,Ricardo Bishop,neil75@reynolds.com,st_15,51.0,76.0,53.0
16,st_16,David Johnson MD,burnsmichael@yahoo.com,st_16,93.0,73.0,76.0
17,st_17,Patricia Robinson,amymarquez@bailey.com,st_17,89.0,84.0,99.0
18,st_18,David Gaines,vsmith@yahoo.com,st_18,74.0,74.0,51.0
19,st_19,Gregory Espinoza,qcole@davis-stevens.com,st_19,80.0,68.0,82.0
20,NaN,NaN,NaN,st_20,83.0,83.0,65.0
21,NaN,NaN,NaN,st_21,100.0,50.0,74.0
22,NaN,NaN,NaN,st_22,91.0,53.0,64.0
23,NaN,NaN,NaN,st_23,98.0,51.0,60.0
24,NaN,NaN,NaN,st_24,64.0,62.0,94.0